@media only screen and (max-width: 500px) {
    #rc-imageselect,
    .g-recaptcha {
        transform: scale(0.77);
        transform-origin: 0 0;
    }
}

@media all and (max-width: 375px) {
    #rc-imageselect,
    .g-recaptcha {
        transform: scale(0.79);
        transform-origin: scale(0.79);
    }
}
@media all and (max-width: 320px) {
    #rc-imageselect,
    .g-recaptcha {
        transform: scale(0.58);
        transform-origin: scale(0.58);
    }
}
@media all and (max-width: 248px) {
    #rc-imageselect,
    .g-recaptcha {
        transform: scale(0.49);
        transform-origin: scale(0.49);
    }
}
